@model ToolsResourcesAdvice 

@{ 
    // Layout = null; 
}

Id: @Model.toolID <br /> 
Tool Name: @Model.toolName <br /> 
Gifted To: @Model.giftedTo <br /> 
Gifted From: @Model.giftedFrom <br /> 
Phone Number: @Model.toolName <br /> 
Address : @Model.address <br /> 
Received: @Model.received <br /> 

<button> Edit  </button>
<button> Delete </button>     